*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root{
    --bcg: #fff;
    --select-bcg: #f1f1f1;
    --select-bcg-hover: #717171;
    --color: #000;
}

.dark{
    --bcg: #000;
    --select-bcg: #717171;
    --select-bcg-hover: #f1f1f1;
    --color: #fff;
}

body{
    width: 100%;
    min-height: 100vh;
    background: var(--bcg);
    color: var(--color);
}